html {
    height: 100%;
    font-size: 2vw;
  }

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23000000' stroke-width='0.88' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(169 1000 750) scale(74.25) translate(-986.53 -739.9)'%3E%3Cuse fill='%23050505' href='%23s' y='2'/%3E%3Cuse fill='%23050505' href='%23s' x='1' y='2'/%3E%3Cuse fill='%230a0a0a' href='%23s' x='2' y='2'/%3E%3Cuse fill='%230a0a0a' href='%23s'/%3E%3Cuse fill='%230f0f0f' href='%23s' x='2'/%3E%3Cuse fill='%230f0f0f' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(169 1000 750) scale(74.25) translate(-986.53 -739.9)'%3E%3Cg fill='%23141414'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(169 1000 750) scale(74.25) translate(-986.53 -739.9)'%3E%3Cg fill='%23141414'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(169 1000 750) scale(74.25) translate(-986.53 -739.9)'%3E%3Cg fill='%231a1a1a'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(169 1000 750) scale(74.25) translate(-986.53 -739.9)'%3E%3Cg fill='%23000000'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%231f1f1f'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(169 1000 750) scale(74.25) translate(-986.53 -739.9)'%3E%3Cg fill='%23f4bd00'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(169 1000 750) scale(74.25) translate(-986.53 -739.9)'%3E%3Cg fill='%23f4bd00'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(169 1000 750) scale(74.25) translate(-986.53 -739.9)'%3E%3Cg fill='%23f4bd00'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
  color: #FFFFFF;
  margin-top: auto;
  padding-bottom: 20px;
}
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.topnav {
    overflow: hidden;
 }

.topnav a {
    color: #f4bd00;
    text-decoration: none;
    font-size: 1em;
}
.topnav a:hover {
  color: #ffffff;
}

.topnav .active {
  color: #ffffff;
}

h1 {
  font-size: 6em;
  margin-top: .4em;
  margin-bottom: .4em;
  line-height: 1;
}

h2 {
  font-size: 4em;
  margin-top: .4em;
  margin-bottom: .4em;
  line-height: 1; 
}

h4 {
  font-size: 3em;
  margin-top: 1.9em;
  margin-bottom: .4em;
  line-height: 1; 
}

#portraitimage {
  width: 380px;
  height: 250px;
}

#underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #F4BD00;
  text-decoration-thickness: 20%;
}

#headertext {
  text-align: center;
}

#Aboutme {
  margin-left: 200px;
  text-align: left;
  margin-right: 180px;
  font-size: 18px;
}

footer {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  justify-content: space-between;
  font-size: 1.4em;
  bottom: 0px;
  position: fixed;
  margin: 20px 0px 20px;
  width: 100%;
  text-align: center;
  }

body #Wrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  text-align: center;
  position: fixed;
}

body #Wrapper2 {
  width: 80%;
  text-align: left;
  margin-left: 10%;
  padding-right: 40px;
}

body #Wrapper3 {
  width: 80%;
  text-align: left;
  margin-left: 10%;
  padding-right: 40px;
}

.column {
  flex:100%;
  padding:10px;
  height:auto;
}

p {
  font-size: 14px;
}
.row {
  display: flex;
  flex-direction: column-reverse;
  clear: both;
}
#images {
  width: 180px;
  margin-left:50px;
}
ol {
    font-size: 14px;
    line-height: 1.5em;
  }

@media only screen and (min-width: 767px) {
  .topnav {
   font-size: 18px;
  }
  body #Wrapper3 {
    width: 80%;
    text-align: left;
    margin-left: 10%;
    padding-right: 40px;
  }
  .row {
    display: flex;
    flex-direction: row;
    clear: both;
  }
  h4 {
    font-size: 2.5em;
    margin-top: 1.9em;
    margin-bottom: .8em;
    line-height: 1; 
  }
  body #Wrapper2 {
    width: 80%;
    text-align: left;
    margin-left: 10%;
    padding-right: 40px;
  }
  p {
    font-size: 23px;
  }
  ol {
    font-size: 23px;
    line-height: 1.8em;
  }
  #reverse {
    flex-direction: row-reverse;
  }
  body #Wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    text-align: center;
    position: fixed;
    margin-left: 10%;
  }
  #portraitimage {
    width: 500px;
    height: 300px;
  }
  h1 {
    font-size: 3em;
    margin-top: .4em;
    margin-bottom: .4em;
    line-height: 1;
    text-align: left;
  }
  h2 {
    font-size: 2em;
    margin-top: .4em;
    margin-bottom: .4em;
    line-height: 1; 
    text-align: left;
  }
  #images {
    width: 300px;
    margin-left:0px;
  }
}
@media only screen and (min-width: 1000px) {
  .topnav {
    font-size: 18px;
   }
  body #Wrapper3 {
    width: 100%;
    text-align: left;
    margin-left: 10%;
    padding-right: 40px;
  }
  .row {
    display: flex;
    flex-direction: row;
    clear: both;
  }
  h4 {
    font-size: 2em;
    margin-top: 1.9em;
    margin-bottom: .8em;
    line-height: 1; 
  }
  body #Wrapper2 {
    width: 80%;
    text-align: left;
    margin-left: 10%;
    padding-right: 40px;
  }
  p {
    font-size: 25px;
  }
  ol {
    font-size: 25px;
    line-height: 2em;
  }
  #reverse {
    flex-direction: row-reverse;
  }
  body #Wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    text-align: center;
    position: fixed;
    margin-left: 10%;
  }
  #portraitimage {
    width: 900px;
    height: 600px;
  }
  h1 {
    font-size: 3em;
    margin-top: .4em;
    margin-bottom: .4em;
    line-height: 1;
    text-align: left;
    margin-right: -10px;
  }
  h2 {
    font-size: 2em;
    margin-top: .4em;
    margin-bottom: .4em;
    line-height: 1; 
    text-align: left;
    margin-right: -10px;
  }
  #images {
    width: 500px;
  }
}